@page "/MasterData/AssemblyLines"
@using KnorrBremse.Insight.MasterData.ApiClient
@using KnorrBremse.Insight.MasterData.API.Model;

@inject MasterDataClient MasterDataClient;

<PageTitle>Assembly Lines</PageTitle>

<!-- <a href="https://www.freepik.com/icon/industry_5277441">Icon by Freepik</a> -->
<h1><img src="/media/assembly_line_color.png" /> Assembly Lines</h1>

<p>
    <a class="btn btn-primary" href="MasterData/AssemblyLines/Create">
        Create New
    </a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" class="col-1">Id</th>
            <th scope="col" class="col-2">SAP Name</th>
            <th scope="col" class="col-7">Description</th>
            <th scope="col" class="col-1">Is Active</th>
            <th scope="col" class="col-1">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (assemblyLines == null)
        {
            <tr><td colspan="4">
                <Spinner></Spinner>
            </td></tr>
        }
        else
        {
            @foreach (var assemblyLine in assemblyLines)
            {
                <tr>
                    <td>@assemblyLine.Id</td>
                    <td>@assemblyLine.SapName</td>
                    <td>@assemblyLine.Description</td>
                    <td>
                        <input type="checkbox" checked="@assemblyLine.IsActive" class="disabled" disabled />
                    </td>
                    <td>
                        <a class="btn btn-primary" href="MasterData/AssemblyLines/Edit/@assemblyLine.Id">
                            Edit
                        </a>

                        @*<button @onclick="@(() => DeleteClick(assemblyLine.Id))" @onclick:stopPropagation="true" class="btn btn-danger">
                            Delete
                        </button>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private ICollection<AssemblyLine>? assemblyLines;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            assemblyLines = await MasterDataClient.AssemblyLinesAllAsync();
        }
        catch (Exception)
        {
            
        }
    }
}
